<h2>All Historical Figures</h2>
<h2>TEST</h2>
<%@figures.each do |l|%>
<%=l.name%>
<br>
<%end%>

<!-- add content here -->

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
